*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url('/images/cal2.webp');
}

.heading{
    text-align: center;
    color: rgb(170, 170, 10);
    margin-bottom: 30px;
    margin-top: 10px;

}

.container{
    background-color: rgba(152, 144, 111, 0.756);
    height: 425px;
    width: 80%;
    margin-left: 3rem;
    text-align: center;
    border: 2px solid black;
    border-radius: 23px;

   
    #enter{
        width: 99%;
        height: 40px;
        border: 2px solid black;
        border-radius: 6px;
        outline: none;
      
        

    }

}

.btn{
   
    padding: 28px 53px;
    margin: 5px 0;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 100%;
    &:hover{
        background-color: rgba(158, 94, 94, 0.955);
    }
    
}

#table{
   
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
}


@media (max-width:870px) {
    body{
        background-image: url('/images/cal.jpg');
        
    }
    #table{
        width: 50%;
    }
    .btn{
        padding: 20px;
    }
}

